body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 180px;
    height: 30px;
}

.logo {
    height: 40px;
    width: 80px;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.one {
    background-image: url("images/arrodes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.box {
    width: 1000px;
    height: 250px;
    display: flex;
    background-color: rgba(0,0,0,0.7);
    padding: 42px;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.1);
}

.one .text {
    color: white;
}

.image {
    width: 340px;
    height: auto;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two .text {
    font-size: 50px;
    font-weight: 900;
}

.cards {
    display: flex;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card img {
    display: flex;
}